@page
@model CreateProgramModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CreateProgram</title>
    <meta charset="utf-8" />
    <script type="text/javascript">
    </script>
</head>


<body>
    <header>Create Program</header>
    <main>
        <div>
            <form name="CreateProgram" method="post" id="CreateProgram">
                <table>
                    <tr>
                        <td>ProgramCode:</td>
                        <td>
                            <input id="Text1" type="text" name="ProgramCode" value="@Model.ProgramCode" />
                        </td>
                    </tr>

                    <tr>
                        <td>Description:</td>
                        <td>
                            <input id="Text2" type="text" name="Description" value="@Model.Description" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="submit" name="Submit" value="Submit" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
    <footer>
        @Model.Message
    </footer>
</body>


</html>

