@page
@model DeleteStudentModel
@{
}
<!DOCTYPE html>
<head>
    <title>Delete Student</title>
    <meta charset="utf-8" />
    <script type="text/javascript"></script>
</head>
<body>
    <header>Delete Student</header>
    <main>
        <div>
            <form asp-page-handler="FirstAction" name="FindStudent" method="post" id="FindStudent">
                <table>

                    <tr>
                        <td>StudentId:</td>
                        <td>
                            <input id="Text2" type="text" name="StudentId" value="@Model.StudentId" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="FindStudent" />
                        </td>
                    </tr>
                </table>
                @Model.Message1

            </form>

            <form asp-page-handler="SecondAction" name="DeleteStudent" method="post" id="DeleteStudent">
                <table>

                    <tr>
                        <td>StudentId:</td>
                        <td>
                            <input id="Text2" type="text" name="StudentId" value="@Model.StudentId" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="DeleteStudent" />
                        </td>
                    </tr>
                </table>
                @Model.Message2

            </form>
        </div>
    </main>
</body>