@page

@using BAIS3150Demo.Pages
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model Index1Model
@{
}
<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    Index
</body>
</html>

